a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  padding: 4px;
}

th {
  border: 1px solid #000000;
  font-size: 13px;
  text-align: center;
  background-color: #ffffff;
}


td {
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.gtotal {
  font-size: 16px;
}

@media print
{
    .noprint{
        display:none;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    .pagebreak {
      clear: both;
      page-break-after: always;
    }
    @page {size: landscape}
}

.tableNoOutline {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


.tableNoOutline td {
  font-size: 10px;
}

.tableNoOutline tr:nth-child(even) {
  background-color: #ffffff;
}

.footer {
  position: fixed;
  bottom: 0;
}